

#timer p, p { color: rgb(85, 85, 85); }
#error, #timer { display: inline-block; float: left; }
#timer p, .btn { font-weight: 700; }
body { font-family: sans-serif; }
a { text-decoration: none; }
footer, header, section { clear: both; }
* { margin: 0px; padding: 0px; }
#wrapper { max-width: 400px; border: 0px solid rgb(48, 48, 48); border-radius: 0px; }
p { font-size: 14px; padding: 5px 0px; }
#timer { max-width: 290px; width: 65%; }
#timer p { font-size: 12px; }
.btn { background-color: #236DA6; border-radius: 5px; color: rgb(255, 255, 255); display: block; line-height: 50px; max-width: 275px; width: 90%; }
.container { padding-left: 8px; padding-right: 8px; }
#blink{color:#ff0000;padding:6px;-webkit-animation:blink 1s infinite;-moz-animation:blink 1s infinite;-ms-animation:blink 1s infinite;-o-animation:blink 1s infinite;animation:blink 1s infinite}
@-webkit-keyframes blink{0%{opacity:1.0}50%{opacity:.0}100%{opacity:1.0}}
@-moz-keyframes blink{0%{opacity:1.0}50%{opacity:.0}100%{opacity:1.0}}}
@-ms-keyframes blink{0%{opacity:1.0}50%{opacity:.0}100%{opacity:1.0}}
@-o-keyframes blink{0%{opacity:1.0}50%{opacity:.0}100%{opacity:1.0}}
@keyframes blink{0%{opacity:1.0}50%{opacity:.0}100%{opacity:1.0}
#today{float:right;font-weight:600;padding-top:15px}